@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.Booking_Main {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    height: 150px;
    border-radius: 10px;
    display: grid;
    place-content: center;
    
}
.Booking_Main > h1 {
    color: darkblue;
    font-size: xx-large !important;
    font-weight: bold !important;
}
.Booking_Main > h2{
    color: red;
    font-size: x-large;
} 