.App {
  text-align: center;
  height: 100vh;
overflow-y: scroll;
background: rgba(17,33,90,1);
/* background-image: radial-gradient( circle 419px at 50.4% 60%,  rgba(81,95,184,1) 0%, rgba(17,33,90,1) 90% ); */
}

